.navbar-toggler {
  color: white;
}

nav {
  background-color: #7ed218 !important;
}

.nav-item {
  color: black;
  padding-inline: 5px;
  margin: 5px;
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 5px;
}

.nav-item:hover {
  background-color: #507c1a;
  cursor: pointer;
}

.button-logout{
  padding-inline: 5px;
  margin: 5px;
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 5px;
}